<footer id="mainFooter">
  <nav class="navbar fixed-bottom navbar-dark" style="background-color: #2e2e2e;">
    <span class="badge badge-pill badge-light"><i class="far fa-copyright"></i> Copyright 2020</span>
  </nav>
</footer>