<!-- Main Content -->
<div class="row" id="home_row">
  <div class="col">
    <div class="jumbotron" id="home_contentArea">
      <img
        id="big_logo"
        src="Assets/images/logo_trans.png"
        align="left"
        width="400"
        alt=""
      />
      <p>
        Welcome to my portfolio page, my name is Josh and I am student at Durham
        College and an amateur web developer.
        <br />
        <br />
        This website is my public portfolio page to showcase my projects.
      </p>
      <button type="button" class="btn btn-primary" id="aboutButton">
        <b>About Me</b>
      </button>
    </div>
  </div>
</div>
