<!-- Main Content -->
<div class="row">
  <div class="col">
    <div class="jumbotron" id="contentArea">
      <h1 class="display-4">Featured Projects</h1>
      <hr />

      <!-- Image Source: https://www.kickstarter.com/projects/padbury/atelier-playing-cards -->
      <div class="card-deck">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="Assets/images/project_durak.jpg" />
          <div class="card-body">
            <h5 class="card-title">Durak</h5>
            <hr />
            <p class="card-text">
              A basic implementation of Durak using the C# programming language.
            </p>
            <a target="_blank" href="https://github.com/jzbakos/oop4200-durak" class="btn btn-primary">Check it out!</a>
          </div>
        </div>

        <!-- Image Source: https://pngtree.com/freepng/coin-icon-%7C-set-of-great-flat-icons-with-style-flat-design-and-u_4152129.html -->
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="Assets/images/project_finance.jpg" />
          <div class="card-body">
            <h5 class="card-title">Finance Tracker</h5>
            <hr />
            <p class="card-text">
              A simple solution to personal financial management and budgeting.
            </p>
            <a target="_blank" href="https://github.com/jzbakos/finances" class="btn btn-primary">Check it out!</a>
          </div>
        </div>

        <!-- Image Source: https://lh3.googleusercontent.com/proxy/tk4ylB751R-2NmBAwPOmFis0IrDqAFgh2XkreyoVr9fVjE7HrICDdWngUa_3qPZeyMy-96EeCKhGBouwhLX01SzOBK0RGZXhzpnJYQgRepkPslXh_BaMte7BfUKZIbPL2PEdFp027sT-cgwnZSVIJ4TbEJMirD2d -->
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="Assets/images/project_chat.png" />
          <div class="card-body">
            <h5 class="card-title">Chat Assistant</h5>
            <hr />
            <p class="card-text">
              A simple chatbot assistant to help users navigate the website
              using AI.
            </p>
            <a href="#" class="btn btn-primary">(Private)</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>